@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: darkgray;
}

img {
    height: 100%;
}

.skills .grid {
    grid-template-rows: 5rem 3fr;
}

@media (min-width: 768px) {
    .skills .grid {
        grid-template-columns: 10rem auto;
        grid-template-rows:revert;

    }

}

.navbar:hover {
    opacity: 1 !important;
}
html{
scroll-behavior: smooth}
.mainApp{
scroll-behavior: smooth}



